/* Additional styles for PlaybackControls - main styles in index.css */

.player-bar {
    /* Styles defined in index.css */
}

.player-controls-container {
    /* Styles defined in index.css */
}

.playback-controls {
    /* Styles defined in index.css */
}

.current-song-info {
    /* Styles defined in index.css */
}

.player-right-controls {
    /* Styles defined in index.css */
}